//---------------------------------------------------------------------------
//  Module: OPTION.rc
//
//  Purpose:
//     OPTION (for 4DOS) resource definitions
//---------------------------------------------------------------------------

#define _NT 1

#include <winver.h>

#include <windows.h>
#include <prsht.h>
#include "resource.h"

#include "ntevent.rc"

// Version info
VS_VERSION_INFO		VERSIONINFO
FILEVERSION		7.50
PRODUCTVERSION		7.50
FILEFLAGSMASK		VS_FFI_FILEFLAGSMASK
FILEFLAGS		VS_FF_PRERELEASE
FILEOS			VOS__WINDOWS32

FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
BEGIN
	BLOCK	"VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END

	BLOCK	"StringFileInfo"
	BEGIN
	    BLOCK "040904E4"
	    BEGIN
		VALUE "CompanyName",	"JP Software\0"
		VALUE "FileDescription", "OPTION/DOS\0"
		VALUE "FileVersion", 	"7.50\0"
		VALUE "InternalName",	"OPTION\0"
		VALUE "LegalCopyright",	"Copyright (c) 2002 Rex C. Conn and JP Software\0"
		VALUE "LegalTrademarks", "4DOS is a trademark of JP Software\0"
		VALUE "OriginalFilename", "OPTION\0"
		VALUE "ProductName", "OPTION/DOS\0"
		VALUE "ProductVersion", "7.50\0"
	    END
	END
END


STARTUPDLGBOX DIALOG 30, 30, PROP_MED_CXDLG, PROP_MED_CYDLG
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Startup"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX "&4START and 4EXIT Path", -1, 10, 6, 206, 32, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_4StartPath, 15, 20, 196, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP

	CONTROL "Local &History", IDI_LocalHistory, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 42, 60, 12
	CONTROL "Local &Aliases", IDI_LocalAliases, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 56, 60, 12
	CONTROL "Local &Directory History", IDI_LocalDirHistory, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 70, 90, 12
	CONTROL "SF&N Search", IDI_Win32SFN, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 84, 90, 12
	CONTROL "&PathExt", IDI_PathExt, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 98, 90, 12
	CONTROL "Delete to &Recycle Bin", IDI_RecycleBin, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 112, 90, 12

	CONTROL "Force &upper case", IDI_UpperCase, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 42, 75, 12
	CONTROL "Default &batch echo", IDI_BatchEcho, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 56, 75, 12
	CONTROL "Protect redirected &output files", IDI_NoClobber, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 70, 110, 12
	CONTROL "&Wait for external apps", IDI_ExecWait, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 84, 90, 12
	CONTROL "Update Tit&les", IDI_UpdateTitle, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 98, 90, 12
	CONTROL	"Uni&x-style Paths", IDI_UnixPaths, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 112, 90, 13

	GROUPBOX "Logging", -1, 10, 127, 206, 60, WS_CHILD | WS_VISIBLE
	CONTROL "&Errors", IDI_LogErrors, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 139, 45, 12
	CONTROL "&Command", IDI_LogOn, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 154, 45, 12
	LTEXT "&File:", -1, 71, 156, 15, 8, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_LogName, 87, 153, 124, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "Histor&y", IDI_HistLogOn, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 169, 45, 12
	LTEXT "F&ile:", -1, 71, 171, 15, 8, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_HistLogName, 87, 168, 124, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
END


WINDOWDLGBOX DIALOG 30, 30, PROP_SM_CXDLG, PROP_SM_CYDLG
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Windows"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX "Display", -1, 10, 5, 206, 50, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "&Standard", IDI_WindowStateStd, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 17, 43, 12
	CONTROL "&Max", IDI_WindowStateMax, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 17, 25, 12
	CONTROL "Mi&n", IDI_WindowStateMin, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 17, 25, 12
	CONTROL "&Custom", IDI_WindowStateCustom, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 17, 40, 12
	LTEXT "&X:", -1, 20, 37, 39, 8, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_WindowX, 30, 35, 20, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "&Y:", -1, 58, 37, 6, 8, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_WindowY, 69, 35, 20, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "&Width:", -1, 96, 37, 24, 8, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_WindowWidth, 120, 35, 20, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "&Height:", -1, 147, 37, 24, 8, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_WindowHeight, 172, 35, 20, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP

	GROUPBOX "Text", -1, 10, 60, 206, 31, WS_CHILD | WS_VISIBLE
	LTEXT "&Tabs:", -1, 20, 75, 22, 8, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_Tabs, 42, 73, 13, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
END


EDITDLGBOX DIALOG 30, 30, PROP_SM_CXDLG, PROP_SM_CYDLG
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_3DLOOK
CAPTION "Edit"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX "Editing", -1, 10, 4, 210, 44, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "&Default:", -1, 20, 18, 30, 8, WS_CHILD | WS_VISIBLE
	CONTROL "Overstrike", IDI_EditModeOver, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 16, 44, 12
	CONTROL "Insert", IDI_EditModeIns, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 16, 32, 12
	CONTROL "InitOver", IDI_EditModeInitOver, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 141, 16, 40, 12
	CONTROL "InitIns", IDI_EditModeInitIns, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 183, 16, 32, 12

	LTEXT "Cursor:", -1, 20, 32, 26, 8, WS_CHILD | WS_VISIBLE
	LTEXT "&Overstrike:", -1, 50, 32, 34, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_CursorOver, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 31, 19, 12
	LTEXT "%", -1, 108, 32, 5, 8, WS_CHILD | WS_VISIBLE
	LTEXT "&Insert:", -1, 122, 32, 21, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_CursorIns, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 31, 19, 12
	LTEXT "%", -1, 165, 32, 5, 8, WS_CHILD | WS_VISIBLE

	GROUPBOX "Filename Completion", -1, 10, 53, 210, 65, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "&Complete hidden files", IDI_CompleteHidden, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 67, 100, 12
	CONTROL "&Add '\\' to Directories", IDI_AppendToDir, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 82, 100, 12
	LTEXT "&Options:", -1, 20, 102, 33, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_FileCompletion, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 52, 100, 162, 12
END


COLORSDLGBOX DIALOG 30, 30, PROP_SM_CXDLG, PROP_SM_CYDLG
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_3DLOOK
CAPTION "Colors"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX "Colors", -1, 10, 10, 174, 56, WS_CHILD | WS_VISIBLE
	RTEXT "Foreground", -1, 54, 18, 37, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE
	RTEXT "Background", -1, 124, 18, 39, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE
	LTEXT "&Output:", -1, 20, 32, 29, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_StdColorsFG, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 49, 30, 59, 100
	CONTROL "", IDI_StdColorsBG, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 117, 30, 59, 100
	LTEXT "&Input:", -1, 20, 50, 20, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_InputColorsFG, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 49, 48, 59, 100
	CONTROL "", IDI_InputColorsBG, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 117, 48, 59, 100

	GROUPBOX "LIST Colors", -1, 10, 72, 174, 37, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	RTEXT "Foreground", -1, 54, 81, 37, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE
	RTEXT "Background", -1, 124, 80, 39, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE
	LTEXT "&Colors:", -1, 20, 94, 25, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_ListColorsFG, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 49, 92, 59, 100
	CONTROL "", IDI_ListColorsBG, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 117, 92, 59, 100

	GROUPBOX "SELECT Colors", -1, 10, 114, 174, 37, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Co&lors:", -1, 20, 136, 25, 8, WS_CHILD | WS_VISIBLE
	RTEXT "Foreground", -1, 54, 122, 37, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE
	RTEXT "Background", -1, 124, 122, 39, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_SelectColorsFG, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 49, 134, 59, 100
	CONTROL "", IDI_SelectColorsBG, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 117, 134, 59, 100

	GROUPBOX "&DIR Colors", -1, 10, 156, 205, 31, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_ColorDir, 15, 170, 193, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
END


RECALLDLGBOX DIALOG 30, 30, PROP_SM_CXDLG, PROP_SM_CYDLG
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_3DLOOK
CAPTION "History"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX "Buffer Sizes", -1, 10, 8, 112, 44, WS_CHILD | WS_VISIBLE
	LTEXT "&Command History:", -1, 20, 21, 58, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_History, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 81, 19, 28, 12
	LTEXT "&Directory History:", -1, 20, 38, 58, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_DirHistory, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 81, 36, 28, 12

	GROUPBOX "Pop-Up Windows", -1, 10, 59, 172, 57, WS_CHILD | WS_VISIBLE
	CONTROL "Left", -1, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 55, 70, 15, 8
	CONTROL "Top", -1, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 84, 70, 14, 8
	CONTROL "Width", -1, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 111, 70, 21, 8
	CONTROL "Height", -1, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 140, 70, 23, 8
	CONTROL "&History:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 83, 34, 10
	EDITTEXT IDI_PopupWinLeft, 53, 81, 21, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	EDITTEXT IDI_PopupWinTop, 82, 81, 21, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	EDITTEXT IDI_PopupWinWidth, 111, 81, 21, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	EDITTEXT IDI_PopupWinHeight, 140, 81, 21, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "Di&rectory:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 100, 38, 10
	CONTROL "", IDI_CDDWinLeft, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 53, 99, 21, 12
	CONTROL "", IDI_CDDWinTop, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 82, 99, 21, 12
	CONTROL "", IDI_CDDWinWidth, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 111, 99, 21, 12
	CONTROL "", IDI_CDDWinHeight, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 140, 99, 21, 12

	GROUPBOX "Command History", -1, 10, 121, 172, 45, WS_CHILD | WS_VISIBLE
	LTEXT "Mi&nimum saved", -1, 20, 135, 52, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_HistMin, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 73, 134, 12, 12
	LTEXT "characters", -1, 88, 135, 37, 8, WS_CHILD | WS_VISIBLE
	CONTROL "Cop&y to end", IDI_HistCopy, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 150, 53, 12
	CONTROL "Mo&ve to end", IDI_HistMove, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 81, 150, 54, 12
	CONTROL "&Wrap", IDI_HistWrap, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 143, 150, 30, 12
END


GENERALDLGBOX DIALOG 30, 30, PROP_SM_CXDLG, PROP_SM_CYDLG
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_3DLOOK
CAPTION "Misc"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX "EVAL", -1, 10, 8, 174, 30, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Precision:", -1, 20, 21, 38, 8, WS_CHILD | WS_VISIBLE
	LTEXT "&Min:", -1, 60, 21, 16, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_EvalMin, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 19, 10, 12
	LTEXT "digits", -1, 89, 21, 17, 8, WS_CHILD | WS_VISIBLE
	LTEXT "Ma&x:", -1, 120, 21, 17, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_EvalMax, "EDIT", ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 139, 19, 10, 12
	LTEXT "digits", -1, 151, 21, 17, 8, WS_CHILD | WS_VISIBLE

	GROUPBOX "&Editor", -1, 10, 45, 174, 29, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_Editor, 20, 55, 155, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP

	GROUPBOX "Descriptions", -1, 10, 79, 174, 28, WS_CHILD | WS_VISIBLE
	CONTROL "E&nable", IDI_Descriptions, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 89, 36, 12
	LTEXT "Maximum &Length:", -1, 68, 91, 55, 8, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_DescriptionMax, 127, 89, 21, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP

	GROUPBOX "Extended Directory Search", -1, 10, 110, 174, 46, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Sea&rch Level:", -1, 20, 123, 47, 8, WS_CHILD | WS_VISIBLE
	CONTROL "0", IDI_FuzzyCD0, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 121, 20, 12
	CONTROL "1", IDI_FuzzyCD1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 95, 121, 20, 12
	CONTROL "2", IDI_FuzzyCD2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 121, 20, 12
	CONTROL "3", IDI_FuzzyCD3, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 145, 121, 20, 12
	LTEXT "Tree &Path:", -1, 20, 141, 36, 8, WS_CHILD | WS_VISIBLE
	CONTROL "", IDI_TreePath, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 58, 139, 119, 12
END


SYNTAXDLGBOX DIALOG 30, 30, PROP_SM_CXDLG, PROP_SM_CYDLG
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_3DLOOK
CAPTION "Syntax"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX "Special Characters", -1, 10, 7, 174, 62, WS_CHILD | WS_VISIBLE
	CONTROL "&Separator:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 20, 21, 34, 8
	EDITTEXT IDI_CommandSep, 54, 20, 11, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "&Escape:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 76, 21, 26, 8
	EDITTEXT IDI_EscapeChar, 102, 19, 11, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "&Parameter:", -1, "STATIC", WS_CHILD | WS_VISIBLE, 124, 21, 35, 8
	EDITTEXT IDI_ParameterChar, 160, 19, 11, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "&Decimal:", -1, 20, 39, 31, 8, WS_CHILD | WS_VISIBLE
	CONTROL "Auto", IDI_DecCharAuto, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 37, 31, 12
	CONTROL "Period", IDI_DecCharPeriod, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 91, 37, 35, 12
	CONTROL "Comma", IDI_DecCharComma, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 37, 38, 12
	LTEXT "&Thousands:", -1, 20, 54, 40, 8, WS_CHILD | WS_VISIBLE
	CONTROL "Auto", IDI_ThouCharAuto, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 66, 52, 31, 12
	CONTROL "Period", IDI_ThouCharPeriod, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 52, 35, 12
	CONTROL "Comma", IDI_ThouCharComma, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 52, 38, 12

	GROUPBOX "Country", -1, 10, 76, 174, 28, WS_CHILD | WS_VISIBLE
	LTEXT "Ti&me:", -1, 20, 88, 26, 8
	CONTROL "Country", IDI_AmPmCtry, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 87, 38, 12
	CONTROL "am/pm", IDI_AmPm12, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 87, 38, 12
	CONTROL "24-hour", IDI_AmPm24, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 87, 38, 12

	GROUPBOX "Default Beep", -1, 10, 110, 174, 29, WS_CHILD | WS_VISIBLE
	LTEXT "&Length:", -1, 20, 123, 26, 8, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_BeepLength, 50, 121, 16, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "Ticks", -1, 69, 123, 19, 8, WS_CHILD | WS_VISIBLE
	LTEXT "&Frequency:", -1, 101, 123, 36, 8, WS_CHILD | WS_VISIBLE
	EDITTEXT IDI_BeepFreq, 140, 121, 22, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "Hz", -1, 164, 123, 16, 8, WS_CHILD | WS_VISIBLE
END

